:root {
  --coklat: #E6A851;
  --white: #ffffff;
}

/* color */
.p-color {
  color: var(--coklat);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.bg {
  background-image: url('../assets/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.container-login {
  height: 100vh;
}

.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh;
  /* background-color: red; */
}

.description {
  text-shadow: 1px 1px 20px white;
}

.button-daftar {
  color: white !important;
  font-weight: bold !important;
  width: 100%;
  padding: 2% 0 !important;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-menu {
  border-radius: 15px;
  box-shadow: 0px 2px 5px 5px rgb(233, 233, 233);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.sub-menu {
  margin-top: 5px;
  width: 200px;
  transition: all .3s;
}