:root {
  --coklat: #E6A851;
  --white: #ffffff;
}

/* color */
.p-color {
  color: var(--coklat);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url('assets/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.container-login {
  height: 100vh;
}

.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh;
  /* background-color: red; */
}

.button-daftar {
  color: white !important;
  font-weight: bold !important;
  width: 100%;
  padding: 2% 0 !important;
}